<div class="container well" style="padding:50px">

    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" ui-sref="movi-poster-appform">
                <img class="img-responsive" src="../images/util-imges/facebook_apps.jpg" alt="Fb App" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" ui-sref="baby-dance-step-appform">
                <img class="img-responsive" src="../images/util-imges/facebook_apps.jpg" alt="Fb App" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="../images/util-imges/facebook_apps.jpg" alt="Fb App" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="../images/util-imges/facebook_apps.jpg" alt="Fb App" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="../images/util-imges/facebook_apps.jpg" alt="Fb App" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="../images/util-imges/facebook_apps.jpg" alt="Fb App" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="../images/util-imges/facebook_apps.jpg" alt="Fb App" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="../images/util-imges/facebook_apps.jpg" alt="Fb App" />
            </a>
        </div>
    </div>
</div>

