<div>

    <div>Pairs left to match: {{vm.game.unmatchedPairs}}</div>
    <div>Matching: {{vm.game.firstPick.title}}</div>

    <table>
        <tr ng-repeat="row in vm.game.grid">
            <td ng-repeat="tile in row" ng-click="vm.game.flipTile(tile)">

                <!-- this entire block can be replaced with our custom component mgCard:-->
                <!--<mg-card tile="tile"></mg-card>-->

                <div class="container">
                    <div class="card" ng-class="{flipped: tile.flipped}">
                        <img class="front" ng-src="images/back.png">
                        <img class="back" ng-src="images/{{tile.title}}.png">
                    </div>
                </div>

            </td>
        </tr>
    </table>

    <div class="message">{{vm.game.message}}</div>

</div>