<div id="top">
    <div id="header">
        <h1>Markdown &rarr; HTML <a href="http://simplydo.com">by Simply Do</a></h1>
    </div>
    <div id="nav">
        <a ng-click="vm.toggleSource()" ng-show="vm.showSource"><strong>Show Document</strong></a>
        <a ng-click="vm.toggleSource()" ng-hide="vm.showSource"><strong>Show Source</strong></a> |
        <a href="http://daringfireball.net/projects/markdown/" target="new">Markdown</a>
        <a href="https://github.com/SimplyDo/markDown" target="new">Github</a>
    </div>
</div>

<div id="editor">
    <textarea ng-model="vm.markDownDocument" id="editMarkDown" class="scale"></textarea>
</div>
<div ng-hide="vm.showSource" class="output rendered">
    <div ng-bind-html-unsafe="vm.convertMarkDown(vm.markDownDocument)" class="scale"></div>
</div>

<div ng-show="vm.showSource" class="output source">
    <div class="scale">{{vm.convertMarkDown(vm.markDownDocument)}}</div>
</div>


